.container {
  color: var(--color-secondary);
  display: block;
  padding: 5.4rem 35.3rem 4.3rem 35.3rem;
  text-align: center;
}

.container p {
  font-size: 1.8rem;
}

.container .cls {
  margin: 0 auto;
}

.error {
  color: var(--color-error);
  font-size: 1.4rem;
  font-style: italic;
}

@media screen and (max-width: 900px) {
  .container {
    padding: 1.7rem;
  }
}
