.container {
  color: var(--color-secondary);
  display: block;
  padding: 5.4rem 35.3rem 4.3rem 35.3rem;
  text-align: center;
}

.container p {
  font-size: 1.8rem;
}

.container .cls {
  margin: 0 auto;
}
