.splash {
  background: linear-gradient(
      90.25deg,
      #000000 26.97%,
      rgba(0, 0, 0, 0.45) 100.04%,
      rgba(0, 0, 0, 0.47) 162.62%,
      #5d5b5b 162.64%,
      rgba(0, 0, 0, 0.0741339) 162.65%,
      rgba(0, 0, 0, 0.0592119) 162.67%,
      rgba(0, 0, 0, 0.0437501) 162.68%,
      rgba(0, 0, 0, 0.81) 162.7%
    ),
    url("/images/sites/cover.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  height: 100vh;
}

.normal {
  background: linear-gradient(
    179.21deg,
    #000000 0.67%,
    rgba(0, 0, 0, 0) 99.32%
  );
  width: 100%;
}
