.logo {
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5.4rem 0 2.4rem;
  background: black;
  border-radius: 45px;
}

.logo img {
  height: 89px;
  width: 89px;
  border-radius: 44px;
}
