.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(96, 94, 94, 0.7);
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}

.mainmenu {
  list-style: none;
  padding-left: 0;
}

.mainmenu li {
  display: inline-block;
  margin-right: 4.9rem;
  line-height: 1;
  border-bottom: 2px solid var(--color-secondary);
  padding-bottom: 2rem;
}

.mainmenu li a {
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  outline: none;
  color: var(--color-secondary);
}

.mainmenu li:nth-child(1) {
  border-bottom: 2px solid var(--color-accent);
}

.lang {
  font-size: 1.8rem;
}

.func {
  display: flex;
  align-items: center;
}
