.container {
  display: block;
  text-align: center;
  text-justify: distribute-all-lines;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("/images/sites/aboutus-cover.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  padding-top: 10.8rem;
  padding-bottom: 10.4rem;
}

.container h2 {
  font-size: 2.2rem;
  color: var(--color-secondary);
  font-weight: 700;
}

.container p {
  font-size: 1.6rem;
  margin: 0 13.2rem;
  line-height: 2;
  text-justify: auto;
}
@media screen and (max-width: 900px) {
  .container p {
    text-align: left;
    margin: 0 1.3rem;
  }
}
