.search {
  background: rgba(255, 255, 255, 0.55);
  border-radius: 50px;
  margin-right: 5.4rem;
  width: 300px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  align-items: center;
}

.search input {
  background: transparent;
  border-radius: 50px;
  border: 0;
  font-size: 2rem;
  grid-column-end: 6;
  grid-column-start: 1;
  height: 40px;
  outline: none;
  padding-left: 1rem;
}
