.search {
  background: rgba(255, 255, 255, 0.55);
  border-radius: 50px;
  margin-right: 5.4rem;
  width: 300px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  align-items: center;
}

.search input {
  border-radius: 50px;
  height: 45px;
  background: rgba(255, 255, 255, 0.55);
  background-color: transparent;
  outline: none;
  font-size: 2rem;
  border: 0;
  padding-left: 1rem;
  grid-column-start: 1;
  grid-column-end: 6;
}
