@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

html {
  font-size: 62.5%;
}

:root {
  --color-primary: #000000;
  --color-secondary: #5d5b5b;
  --color-accent: #ddb53d;
  --color-headings: #000000;
  --color-body: #000000;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: var(--color-body);
}

h1,
h2,
h3 {
  color: var(--color-headings);
}

h1 {
  font-size: 9.6rem;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 3rem;
}

h2 {
  font-size: 4.8rem;
  margin-bottom: 3.6rem;
}

h3 {
  font-size: 3.6rem;
}

p {
  margin-top: 0;
}
