@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

html {
  font-size: 62.5%;
}

:root {
  --color-primary: #000000;
  --color-secondary: #ffffff;
  --color-accent: #ddb53d;
  --color-headings: #000000;
  --color-body: #ffffff;
  --color-border: rgba(96, 94, 94, 0.7);
  --color-input: #333333;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: var(--color-body);
}

h1,
h2,
h3 {
  color: var(--color-headings);
}

h1 {
  font-size: 9.6rem;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 4.6rem;
}

h2 {
  font-size: 3.4rem;
  margin-bottom: 3.6rem;
}

h3 {
  font-size: 2.8rem;
}

p {
  margin-top: 0;
  margin-bottom: 3.6rem;
}

.icon {
  width: 24px;
  height: 24px;
  fill: var(--color-secondary);
}

.btn {
  width: 170px;
  border-radius: 50px;
  height: 54px;
  display: inline-block;
  text-decoration: none;
  outline: none;
  font-size: 1.7rem;
  font-weight: 700;
  color: var(--color-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
}

.btn--accent {
  background: var(--color-accent);
}

.page {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 2.4rem;
}

.page .page__content {
  margin-top: 28.7rem;
  grid-column-start: 2;
  grid-column-end: 7;
}

.page h2 {
  margin-top: 0;
  font-size: 3.4rem;
  font-weight: 700;
  color: var(--color-secondary);
}

.page p {
  font-size: 2.4rem;
  font-weight: 400;
}

.page .page__image-wrapper {
  grid-column-end: 11;
  grid-column-start: 8;
  margin-top: 12rem;
}

.page .page__image {
  border-radius: 20px;
}

.page--normal {
  background: linear-gradient(
    179.21deg,
    #000000 0.67%,
    rgba(0, 0, 0, 0) 99.32%
  );
}
